.phone-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.phone {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.sort-block .sort-item {
    padding-right: 20px;
}

.price {
    font-weight: bold;
}

